 <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
      <img src="/assets/twitter_logo.png" style="width:50px; height:50px;">
       Twitter</h3>
       
    </div> <!-- panel-heading-->
           	OMG OM GOMG OMG LOL
  </div> <!-- panel -->